name: Build project

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches-ignore:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  title: ${{ github.event.pull_request.title }}

jobs:
  build-pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['17']
    steps:
      - name: Check MR title
        run: |
          echo "Checking MR title format..."
          title =  github.event.pull_request.title
          
          echo "Title: title" 
          # Regex pattern
          REGEX="^CXBOX-[0-9]+ \| (Fix|Added)\. [A-ZА-Я].*"
          
          if [[ ! "title" =~ $REGEX ]]; then
            echo "::error ::❌ MR title does not match the required format!"
            echo "✅ Correct examples:"
            echo "  CXBOX-1234 | Fix. Fixed login bug"
            echo "  CXBOX-5678 | Added. New feature"
            echo ""
            echo "Rules:"
            echo "  • Start with ticket number (CXBOX-XXXX)"
            echo "  • Then ' | ' (space, pipe, space)"
            echo "  • Then 'Fix.' or 'Added.'"
            echo "  • Then a description starting with a capital letter"
            exit 1
          fi
          echo "✅ MR title is valid."

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: "yarn"
          cache-dependency-path: ui/yarn.lock
      - name: Build with Maven
        run: mvn clean install -U -PUI -Pcoverage sonar:sonar -Dsonar.organization=cx-box -Dsonar.projectKey=CX-Box_cxbox-demo -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
