name: QA

on:
  push:
    branches:
      - main
  pull_request:
     branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  APP_URL: http://localhost:81/ui/#/
  CXBOX_LOGGER:  true

jobs:
  build-qa-pr-and-check-autotests:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Check _diag folder size
        run: du -sh /home/runner/actions-runner/cached/_diag || true

      - name: Clean runner diag logs
        run: |
          if [ -d "/home/runner/actions-runner/cached/_diag" ]; then
            sudo rm -rf /home/runner/actions-runner/cached/_diag/*
          fi
