name: Build project

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches-ignore:
      - 'main'
jobs:
  build-pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['17']
    steps:
      - name: Check MR/commit title
        run: |
          echo "Checking MR/commit title format..."
          
          # Get PR title or last commit message
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            TITLE="${{ github.event.pull_request.title }}"
          else
            TITLE="$(git log -1 --pretty=%B)"
          fi

          echo "Title: $TITLE"

          # Regex pattern
          REGEX="^CXBOX-[0-9]+ \| (Fix|Added)\. [A-ZА-Я].*"

          if [[ ! "$TITLE" =~ $REGEX ]]; then
            echo "::error ::❌ MR/commit title does not match the required format!"
            echo "✅ Correct examples:"
            echo "  CXBOX-1234 | Fix. Fixed login bug"
            echo "  CXBOX-5678 | Added. c new feature"
            echo ""
            echo "Rules:"
            echo "  • Start with ticket number (CXBOX-XXXX)"
            echo "  • Then ' | ' (space, pipe, space)"
            echo "  • Then 'Fix.' or 'Added.'"
            echo "  • Then a description starting with a capital letter"
            exit 1
          fi
          echo "✅ MR/commit title is valid."
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: "yarn"
          cache-dependency-path: ui/yarn.lock
      - name: Build with Maven
        run: mvn clean install -U -PUI -Pcoverage sonar:sonar -Dsonar.organization=cx-box -Dsonar.projectKey=CX-Box_cxbox-demo -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
