name: QA

on:
  push:
    branches:
      - main
  pull_request:
     branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  APP_URL: http://localhost:81/ui/#/
  CXBOX_LOGGER:  true

jobs:
  build-2:
    runs-on: ubuntu-latest
    env:
      APP_URL: http://code-samples.cxbox.org/ui/#/
    steps:
    - name: Check disk space
      run: df -h

