name: Build project

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches-ignore:
      - 'main'
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_REF_NAME: ${{ github.ref_name }}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['17']
    steps:
      - name: Setup checkout
        uses: actions/checkout@v3

      - name: Validate MR title
        shell: bash
        env:
          LC_ALL: C.UTF-8
        run: |
          echo "Checking MR title format..."ф
          # If it's a push — try to find an open PR for this branch
          TITLE=$(gh pr list --head "$GITHUB_REF_NAME" --state open --json title -q '.[0].title')
          
          if [ -z "$TITLE" ]; then
          # If no PR exists — use the latest commit message as the title
          TITLE=$(git log -1 --pretty=%s)
          fi
          
          if [ -z "$TITLE" ]; then
          # If there is no commit message either — skip the check
          echo "⚠️ No PR and no commit title found for branch $GITHUB_REF_NAME. Skipping title check."
          exit 0
          fi
          
          echo "Title: $TITLE"
          
          LEFT_PART=$(echo "$TITLE" | cut -d'|' -f1 | xargs)   # ticket
          RIGHT_PART=$(echo "$TITLE" | cut -d'|' -f2 | xargs)  # type + description
          
          ERROR_MESSAGE="::error ::
          ✅ Correct examples:
            CXBOX-1234 | Fixed. Fixed login bug
            CXBOX-5678 | Added. New feature
          
          Rules:
            • Start with ticket number (CXBOX-XXXX)
            • Then ' | ' (space, pipe, space)
            • Then 'Fixed.' or 'Added.'
            • Then a description starting with a capital letter"
          
          # 0. Check |
          if [[ "$TITLE" != *"|"* ]]; then
          echo "::error ::❌  MR title does not match the required format: Add ' | ' separator!"
            echo "$ERROR_MESSAGE"
            exit 1
          fi
          echo "✅  ' | ' separator"
          
          # 1. Check ticket
          if [[ ! $LEFT_PART =~ ^CXBOX-[0-9]+$ ]]; then
            echo "::error ::❌ MR title does not match the required format: Add number ticket (CXBOX-) !"
            echo "$ERROR_MESSAGE"
            exit 1
          fi
          echo "✅ Check ticket"
          
          # 2. Check type changing
          TYPE=$(echo "$RIGHT_PART" | awk '{print $1}' | sed 's/\.//')   
          if [[ ! "$TYPE" =~ ^(Fixed|Added)$ ]]; then
            echo "::error ::❌ MR title does not match the required format: Add type changing (Fixed|Added) !"
            echo "$ERROR_MESSAGE"
            exit 1
          fi
          echo "✅ Check type changing"
          
          # 3. Check first char in description
          DESCRIPTION=$(echo "$RIGHT_PART" | cut -d' ' -f2-)
          DESCRIPTION_NO_SPACES="${DESCRIPTION// /}"
          FIRST_CHAR=${DESCRIPTION_NO_SPACES:0:1}
          
          case "$FIRST_CHAR" in
          [A-ZА-Я]*)
          echo "✅ First char is capital"
          ;;
          *)
          echo "::error ::❌ MR title does not match the required format: Description must start with a capital letter!"
          echo "$ERROR_MESSAGE"
          exit 1
          ;;
          esac
                  echo "✅ MR title is valid."

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: "yarn"
          cache-dependency-path: ui/yarn.lock
      - name: Build with Maven
        run: mvn clean install -U -PUI -Pcoverage sonar:sonar -Dsonar.organization=cx-box -Dsonar.projectKey=CX-Box_cxbox-demo -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
