name: QA

on:
  push:
    branches:
      - main
  pull_request:
     branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  APP_URL: http://localhost:81/ui/#/
  CXBOX_LOGGER:  true

jobs:
  build-qa-pr-and-check-autotests:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Cleanup old reports and gh-pages cache
        if: always()
        run: |
            echo "=== CLEANING ALLURE AND GH-PAGES FOLDERS ==="
            rm -rf allure-history || true
            rm -rf allure-report || true
            rm -rf gh-pages || true
            rm -rf .gh-pages || true
            rm -rf target/allure-results || true
            rm -rf target/site || true
            echo "=== DONE ==="
      - name: Cleanup old gh-pages repo content before upload
        if: always()
        run: |
              echo "Cleaning existing gh-pages data before uploading new report"
              rm -rf gh-pages/pull_request/* || true
